<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.g56_e2hg_developers">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".list_Attendance"></activity>
        <activity android:name=".list_salary" />
        <activity android:name=".res_menu_home" />
        <activity android:name=".SalaryDetailsActivity" />
        <activity android:name=".Add_Salary" />
        <activity android:name=".AddAttendance" />
        <activity android:name=".List_Event" />
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".Add_Event" />
        <activity android:name=".event_offical" />
        <activity android:name=".event_social_home" />
        <activity android:name=".Event_Take_heart_Home" />
        <activity android:name=".EventHomeWel" />
        <activity android:name=".EmployeeDetailsActivity" />
        <activity android:name=".List_Employee" />
        <activity android:name=".Add_EmpActivity" />
        <activity android:name=".activity_room_res"/>
        <activity android:name=".activity_add_room_res"/>
        <activity android:name=".room_item_list"/>
        <activity android:name=".RoomDetailsActivity"/>-
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".EmpHomeWel" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>